<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gao.mybatis.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.gao.mybatis.entity.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER"  javaType="com.gao.mybatis.enums.Sex" 
                typeHandler="com.gao.mybatis.handle.SexTypeHandler"/>
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, last_name, email, gender, age, dept_id
  </sql>
 <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_employee 
    <trim prefix="where" prefixOverrides="AND |OR">
    	<if test="lastName != null">and last_name= #{lastName} </if>
    	<if test="deptId != null">and dept_id= #{deptId} </if>
    </trim>
    
  </select>
  
  <update id="updateAll" >
  	update tbl_employee 
  	<trim prefix="set" suffix="where id = #{id}" suffixOverrides=",">
  		<if test="lastName != null"> last_name= #{lastName} ,</if>
    	<if test="deptId != null"> dept_id= #{deptId} ,</if>
  	</trim>
  </update>
</mapper>